.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
    font-weight: 600;
}

.hero p {
    margin-top: 15px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #666666;
}

.contact {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.contact a {
    text-decoration: none;
    color: #111111;
    border-bottom: 1px solid #111111;
    padding-bottom: 2px;
    transition: 0.2s;
}

.contact a:hover {
    opacity: 0.6;
}

.contact button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    border-bottom: 1px solid #111111;
    padding-bottom: 2px;
}

.dropdown {
    margin-top: 25px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.dropdown a {
    text-decoration: none;
    color: #666666;
}

.dropdown a:hover {
    color: #111111;
}

.dropdown p {
    margin-top: 0px;
}

.show {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
}